{erl_opts, [debug_info]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{cover_enabled, true}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.3.0"}
        ]},
        {plugins, [
            {rebar3_bench, "0.2.1"}
        ]}
    ]}
]}.

{plugins, [
    {erlfmt, "1.0.0"},
    {rebar3_lint, "0.5.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config"]}
]}.
